* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 10px;
}

.flexcontainer ul {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.flexcontainer .box1 li {
  padding: 0 10px;
}
.flexcontainer .box2 li {
  padding: 0px 15px 0px 0px;
}
.flexcontainer ul img {
  padding: 0 12px;
  opacity: 0.5;
}
.flexcontainer ul button {
  margin: 0 9px;
  padding: 10px 27px;
  color: white;
  background-color: rgb(26, 115, 232);
  font-size: 14px;
  border: none;
  border-radius: 8%;
}

.flexcontainer ul a {
  text-decoration: none;
  color: rgb(34, 34, 34);
}

.box1 {
  margin-left: 6px;
  font-size: 14px;
  align-items: center;
}

.box2 {
  align-items: center;
  font-size: 13px;
}

.logo-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 138px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 23px;
  padding-left: 10px;
  padding-right: 8px;
}

.search-box-container {
  position: relative;
}

.search-box {
  width: 584px;
  height: 46px;
  border-radius: 50px;
  border: 1px solid #dfe1e5;
}

.search-icon {
  position: absolute;
  opacity: 0.4;
  top: 13px;
  left: 15px;
}

.mic-icon {
  position: absolute;
  top: 11px;
  right: 17px;
}

.search-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.search-buttons button {
  margin: 5px 6px;
  padding: 10px 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #5f6368;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
}
